@model IEnumerable<WeatherApp.Models.DayForecast>

<h2>@ViewBag.PlaceName</h2>

@Html.ActionLink("Tillbaka till listan", "Index", null, new { @class = "button btn btn-default" })

<div class="row">
    @Html.DisplayFor(m => m)
</div>    
