@model IEnumerable<WeatherApp.Models.Place>

@{
    ViewBag.Title = "Välj ort att visa väder för";
}

<h2>@ViewBag.Title</h2>

<table class="table table-striped">

    @Html.DisplayFor(m => m)

</table>
