
@{
    ViewBag.Title = "Ett fel uppstod";
}
    <div class="row">
        <h2>@ViewBag.Title</h2>

        <p class="alert alert-danger col-md-4">
            @ViewBag.Message
        </p>
    </div>

    @Html.ActionLink("Tillbaka", "Index", null, new { @class = "button btn btn-default" })

