@model WeatherApp.Models.Place

    <div>
        <div class="row">
            <h2>Radera plats</h2>
            <p class="alert alert-danger col-md-4">
                Är du säker på att du vill radera platsen <strong>@Model.Name</strong>?
            </p>
        </div>
    
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
    
            <div>
                <input type="submit" value="Radera" class="button btn btn-danger" />
                @Html.ActionLink("Tillbaka till listan", "Index", null, new { @class = "button btn btn-default" })
            </div>
        }

    </div>
