@model WeatherApp.Models.Place

    <div>
        <div class="row">
            <h2>Det gick bra</h2>
            <p class="alert alert-success col-md-4">
                Platsen <strong>@Model.Name</strong> @ViewBag.ActionName med ett lyckat resultat
            </p>
        </div>

        @Html.ActionLink("Tillbaka till listan", "Index", null, new { @class = "button btn btn-default" })
    </div>
